# Maven
target/

# IntelliJ IDEA
.idea/
*.iml

# Eclipse
.settings/
.classpath
.project

# Logs
cadeau-support/cadeau-support-log/

# Demo
cadeau-support/src/main/java/com/spldeolin/cadeau/demo/
cadeau-support/src/main/resources/mapper/
cadeau-support/src/main/resources/ftl/