<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE generatorConfiguration
        PUBLIC "-//mybatis.org//DTD MyBatis Generator Configuration 1.0//EN"
        "http://mybatis.org/dtd/mybatis-generator-config_1_0.dtd">
<generatorConfiguration>

    <context id="Mysql" targetRuntime="MyBatis3Simple" defaultModelType="flat">

        <property name="useMapperCommentGenerator" value="false"/>

        <plugin type="com.spldeolin.cadeau.support.persistence.AnnotationAddPlugin"/>

        <plugin type="org.mybatis.generator.plugins.SerializablePlugin"/>

        <commentGenerator type="com.spldeolin.cadeau.support.persistence.CommentGenerator"/>

        <jdbcConnection driverClass="com.mysql.jdbc.Driver" connectionURL="" userId="" password=""/>

        <javaModelGenerator targetPackage="com.spldeolin.cadeau.support.persistence.model"
                            targetProject="src\main\java"/>

        <sqlMapGenerator targetPackage="mapper" targetProject="src\main\resources"/>

        <javaClientGenerator targetPackage="com.spldeolin.cadeau.support.persistence.dao" targetProject="src\main\java"
                             type="XMLMAPPER"/>

        <table tableName="%">
            <generatedKey column="id" sqlStatement="Mysql" identity="true"/>
        </table>

    </context>
</generatorConfiguration>